<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.trident.android.tv.si.provider.epg"
      android:versionCode="1"
      android:versionName="1.0">
      
    <uses-sdk android:minSdkVersion="8"/>
      
      
    <application android:icon="@drawable/iconepg" android:label="@string/app_name">
        <activity android:name=".EPGActivity"
                  android:label="@string/app_name" 
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
      
            
            <intent-filter>
                <action android:name= "com.trident.tv.si.intent.action.LIST" />  
                <category android:name="android.intent.category.DEFAULT" />                       
            </intent-filter>
                      
             <intent-filter>
                <action android:name= "com.trident.tv.si.intent.action.CATEGORY" />   
                <category android:name="android.intent.category.DEFAULT" />                              
            </intent-filter>
                    
        </activity>
        <activity android:name=".EventDetailActivity"
                 android:theme="@android:style/Theme.NoTitleBar.Fullscreen"> 
            
            <intent-filter>
                <action android:name="com.trident.tv.si.intent.action.PICK" />   
                <category android:name="android.intent.category.DEFAULT" />   
                <!--data android:mimeType="vnd.android.cursor.item/vnd.trident.tv.si.events" /-->                 
            </intent-filter>
            
             <!-- enable the EventDetail Activity be able to use the search dialog  --> 
              <!--meta-data android:name="android.app.default_searchable"
                   android:value=".EPGProviderActivity" /-->
            
        </activity>
        
          <activity android:name=".SearchResultActivity"
                 android:theme="@android:style/Theme.NoTitleBar.Fullscreen"> 
                      
            <intent-filter>                   
                <category android:name="android.intent.category.DEFAULT" />   
                <action android:name="android.intent.action.SEARCH" />
                <!--data android:mimeType="vnd.android.cursor.item/vnd.trident.tv.si.events" /-->                 
            </intent-filter>

            <meta-data android:name="android.app.searchable"
                   android:resource="@xml/searchable"/>
            
        </activity>
                
        <activity android:name=".BrowseByActivity"
                 android:theme="@android:style/Theme.NoTitleBar.Fullscreen"> 
                      
          
            
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                         
            </intent-filter>
            
            
               <!-- enable the ..BrowseByActivity to launch the search dialog to initiate search
                 ,and enable the search dialog  to send search to .SearchResultActivity dialog  --> 
            <meta-data android:name="android.app.default_searchable"
                   android:value=".SearchResultActivity" />
            
            
        </activity>
        
        <provider android:name="EPGProvider"
         android:authorities="com.trident.android.tv.si.provider.EPG" /> 

    </application>

</manifest> 